
header {
    background-color: #715C49;
    padding: 20px;  
    font-family: 'Courier New', Courier, monospace;
}


body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #BB9E83;
    color: black;
    overflow-x: hidden;
} 

h1 {
    color: white;
    font-weight: 600;
    text-align: center;
    margin-left: 0;

}

nav {
    text-align: right;
}
nav a {
    color:white;
    text-decoration: none;
}

.hero {
    text-align: left;
    background-color: #2F5387;
    color: white;
    font-size: 1.2em;
}


.about, .portfolio, .contact, .resume {
    padding: 50px;
    text-align: center;
    background-color: #BB9E83;
}


.project-placeholder {
    background-color: #715C49;
    color: white;
    padding: 50px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form label {
    margin-top: 10px;
}

form input, form textarea {
    width: 100%;
    max-width: 400px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #715C49;
}

form button {
    background-color: #2F5387;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.social-media a {
    display: inline-block;
    margin-right: 10px;
    color: #2F5387;
    text-decoration: none;
}

footer {
    background-color: #715C49;
    padding: 20px;
    color: white;
    text-align: center;
}

